[*.cs]
dotnet_naming_symbols.test_methods.applicable_kinds = method
dotnet_naming_symbols.test_methods.applicable_accessibilities = public

dotnet_naming_style.specifications.capitalization = first_word_upper
dotnet_naming_style.specifications.word_separator = _

dotnet_naming_rule.test_names.severity = error
dotnet_naming_rule.test_names.symbols = test_methods
dotnet_naming_rule.test_names.style = specifications

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none
