[*.cs]

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1724: Type names should not match namespaces
dotnet_diagnostic.CA1724.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none
